body{
    background-color: #330033;
    color: #000305;
    font-size: 90%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration: none;
}

a:link, a:visited{

}

a:hover, a:active{

}

.body{
    margin: 0 auto;
    width: 90%;
    /*clear: both;*/
}

.header img{
    width: 100%;
    height: auto;
    margin: 2% 0;
}

.header nav{
    background-color: #00004d;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header nav ul{
    list-style: none;
    margin: 0 auto;
}

.header nav ul li{
    float: left;
    display: inline;
}

.header nav a:link, .header nav a:visited{
    color:#FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.header nav a:hover, .header nav a:active,
.header nav .active a:link, .header nav .active a:visited{
    background-color: #800000;
    text-shadow: none;
}

.header nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content{
    width: 100%;
    float: left;

}

.top{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.top h2, footer,p{
    text-align: center;
}
.bottom h2,p{
    text-align: center;
}
.fourth h2,p{
    text-align: center;
}

.last h2,p{
    text-align: center;
}

.topside h2{
    text-align: center;
}

.midside h2{
    text-align: center;
}

.botside h2{
    text-align: center;
}

/*.bo{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}*/


.bottom{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.topside{
    margin: 2% 1.9% 2% 0%;
    padding: 2% 3%;
  
    float: left;
    background-color: #FFF;
    border-radius: 5px;
}

.midside{
    margin: 2% 1.9% 2% 0%;
    padding: 2% 3%;
  
    float: left;
    background-color: #FFF;
    border-radius: 5px;
}

.botside{
    margin: 2% 0% 2% 0%;
    padding: 2% 3%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
}

.fourth{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
}

.last{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.foot{
    width: 100%;
    float: left;
    background-color: #00004d;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 40px;
}

.foot p{
    width: 92%;
    margin: 1% auto;
    color: #FFF;
}

.subtitle{
    font-style: italic;
    color: #999;
    font-size: 85%;
}
/*****************************************************************/
@media only screen and (min-width: 150px) and (max-width: 600px){
.body{
    width: 90%;
    font-size: 95%;
}

.header img{
    width: 100%;
}

.header nav{
    height: 150px;
}

.header nav ul{
    padding-left: 0;
}

.header nav ul li{
    width: 100%;
    text-align: center;
}

.header nav a:link, .header nav a:visited{
    padding: 10px 25px;
    height: 10px;
    display: block;
}

.content{
    width: 100%;
    float: left;
    margin-top: 2%;
}

.top{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.bo{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}


.bottom{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.topside{
    width: 94%;
    margin: 2% 0 2% 0%;
    padding: 2% 3%;
}

.midside{
    width: 94%;
    margin: 2% 0 2% 0%;
    padding: 2% 3%;
}

.botside{
    width: 94%;
    margin: 2% 0 2% 0%;
    padding: 2% 3%;
}
}
